{% block control %}
    {% set id = random() %}

    <div data-controller="rekalogika--analytics-bundle--pivot-table"
         {% if target %}data-rekalogika--analytics-bundle--pivot-table-target-value="{{ target }}"{% endif %}
         {% if output %}data-rekalogika--analytics-bundle--pivot-table-output-value="{{ output }}"{% endif %}
         {% if urlParameter %} data-rekalogika--analytics-bundle--pivot-table-url-parameter-value="{{ urlParameter }}" {% endif %}>
        {{ block("tab_group") }}
        {{ block("tab_pane_group") }}
    </div>

    {{ block("turbo_stream") }}
{% endblock %}

{% block turbo_stream %}
    <turbo-frame id="turbo-frame">
        <turbo-stream action="update" target="{{ target }}">
            <template>
                {{ output|raw }}
            </template>
        </turbo-stream>

        <turbo-stream action="update" target="__filters">
            <template>
                {% for filter in query.filterExpressions %}
                    {{ block("filter") }}
                {% else %}
                    {{ block("empty_filter") }}
                {% endfor %}
            </template>
        </turbo-stream>
    </turbo-frame>
{% endblock turbo_stream %}

{% block tab_group %}
    <ul class="nav nav-tabs" id="tab-{{ id }}" role="tablist">
        {% set active = true %}
        {% set name = "fields" %}
        {% set label = t('Fields', domain = 'rekalogika_analytics')|trans %}
        {{ block("tab") }}

        {% set active = false %}
        {% set name = "filters" %}
        {% set label = t('Filters', domain = 'rekalogika_analytics')|trans %}
        {{ block("tab") }}
    </ul>
{% endblock %}

{% block tab_pane_group %}
    <div class="tab-content" id="tab-content-{{ id }}">
        {% set active = true %}
        {% set name = "fields" %}
        {% set content = block('fields') %}
        {{ block("tab_pane") }}

        {% set active = false %}
        {% set name = "filters" %}
        {% set content = block('filters') %}
        {{ block("tab_pane") }}
    </div>
{% endblock %}

{% block tab %}
    <li class="nav-item" role="presentation">
        <button class="nav-link {{ active ? 'active' : '' }}"
                id="{{ name }}-tab-{{ id }}"
                data-bs-toggle="tab"
                data-bs-target="#{{ name }}-tab-pane-{{ id }}"
                type="button"
                role="tab"
                aria-controls="{{ name }}-tab-pane-{{ id }}"
                aria-selected="true">{{ label }}</button>
    </li>
{% endblock %}

{% block tab_pane %}
    <div class="tab-pane fade show {{ active ? 'active' : '' }}"
         id="{{ name }}-tab-pane-{{ id }}"
         role="tabpanel"
         aria-labelledby="{{ name }}-tab-{{ id }}"
         tabindex="0">
        <div class="card">
            <div class="card-body">{{ content|raw }}</div>
        </div>
    </div>
{% endblock %}

{% block fields %}
    <div class="row g-3">
        <div class="col-md-4">
            {% set type = "available" %}
            {{ block("item_block") }}
        </div>

        <div class="col-md-8">
            <div class="row row-cols-md-2 g-3">
                <div class="col">
                    {% set type = "rows" %}
                    {{ block("item_block") }}
                </div>

                <div class="col">
                    {% set type = "columns" %}
                    {{ block("item_block") }}
                </div>

                <div class="col">
                    {% set type = "values" %}
                    {{ block("item_block") }}
                </div>

                <div class="col">
                    {% set type = "filters" %}
                    {{ block("item_block") }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block item_block %}
    {% if type == 'available' %}
        {% set items = query.availableWithoutSubitems %}
        {% set description = t('Available fields', domain = 'rekalogika_analytics')|trans %}
    {% elseif type == 'rows' %}
        {% set items = query.rowsWithoutSubitems %}
        {% set description = t('Rows', domain = 'rekalogika_analytics')|trans %}
    {% elseif type == 'columns' %}
        {% set items = query.columnsWithoutSubitems %}
        {% set description = t('Columns', domain = 'rekalogika_analytics')|trans %}
    {% elseif type == 'values' %}
        {% set items = query.valuesWithoutSubitems %}
        {% set description = t('Values', domain = 'rekalogika_analytics')|trans %}
    {% elseif type == 'filters' %}
        {% set items = query.filtersWithoutSubitems %}
        {% set description = t('Filters', domain = 'rekalogika_analytics')|trans %}
    {% endif %}

    <div class="card border-dark pb-1">
        <h6 class="card-header">{{ description }}</h6>
        <ul data-type="{{ type }}"
            class="{{ type }} list-group list-group-flush"
            style="min-height: 70px">
            {% for item in items %}{{ block("item") }}{% endfor %}
        </ul>
    </div>
{% endblock %}

{% block item %}
    {% set item = query.resolve(item) %}

    {%- set color_class -%}
        {%- if item.type == 'dimension' -%}
            list-group-item-success
        {%- elseif item.type == 'measure' -%}
            list-group-item-info
        {%- elseif item.type == 'values' -%}
            list-group-item-warning
        {%- endif -%}
    {%- endset -%}

    <li data-type="{{ item.type }}"
        data-value="{{ item.key }}"
        class="list-group-item {{ color_class }} rounded-3 ms-1 me-1 mt-1 mb-0 py-1"
        style="cursor: grab">
        <div class="row align-items-center">
            <div class="col-auto me-auto">
                <span>{{ item.label|trans }}</span>
            </div>
            {% if item.choices %}
                <div class="col-auto ">
                    <select class="form-select form-select-sm py-0">
                        {% set selected = query.getSelectedSubItem(item.key) %}
                        {% for key, choice in item.choices %}
                            <option value="{{ key }}" {{ selected == key ? 'selected' }}>{{ choice|trans }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
        </div>
    </li>
{% endblock item %}

{% block filters %}
    <turbo-frame id="__filters">
    </turbo-frame>
{% endblock filters %}

{% block filter %}
    <div class="mb-3">
        <label for="{{ filter.dimension }}-{{ id }}" class="form-label">
            {{ filter.label|trans }}
        </label>
        {{ block('filter', filter.template) }}
    </div>
{% endblock filter %}

{% block empty_filter %}
    <div class="alert alert-info" role="alert">
        {{ t('No filter selected.', domain = 'rekalogika_analytics') |trans }}
    </div>
{% endblock empty_filter %}
