{% block control %}
    {% set id = random() %}

    <div data-controller="rekalogika--analytics-bundle--pivot-table"
         {% if frame %}data-rekalogika--analytics-bundle--pivot-table-frame-value="{{ frame }}"{% endif %}
         {% if urlParameter %} data-rekalogika--analytics-bundle--pivot-table-url-parameter-value="{{ urlParameter }}" {% endif %}>
        {{ block("tab_group") }}
        {{ block("tab_pane_group") }}
    </div>
{% endblock %}

{% block tab_group %}
    <ul class="nav nav-tabs" id="tab-{{ id }}" role="tablist">
        {% set active = true %}
        {% set name = "fields" %}
        {% set label = 'Fields'|trans %}
        {{ block("tab") }}

        {% set active = false %}
        {% set name = "filters" %}
        {% set label = 'Filters'|trans %}
        {{ block("tab") }}
    </ul>
{% endblock %}

{% block tab_pane_group %}
    <div class="tab-content" id="tab-content-{{ id }}">
        {% set active = true %}
        {% set name = "fields" %}
        {% set content = block('fields') %}
        {{ block("tab_pane") }}

        {% set active = false %}
        {% set name = "filters" %}
        {% set content = block('filters') %}
        {{ block("tab_pane") }}
    </div>
{% endblock %}

{% block tab %}
    <li class="nav-item" role="presentation">
        <button class="nav-link {{ active ? 'active' : '' }}"
                id="{{ name }}-tab-{{ id }}"
                data-bs-toggle="tab"
                data-bs-target="#{{ name }}-tab-pane-{{ id }}"
                type="button"
                role="tab"
                aria-controls="{{ name }}-tab-pane-{{ id }}"
                aria-selected="true">{{ label }}</button>
    </li>
{% endblock %}

{% block tab_pane %}
    <div class="tab-pane fade show {{ active ? 'active' : '' }}"
         id="{{ name }}-tab-pane-{{ id }}"
         role="tabpanel"
         aria-labelledby="{{ name }}-tab-{{ id }}"
         tabindex="0">
        <div class="card">
            <div class="card-body">{{ content|raw }}</div>
        </div>
    </div>
{% endblock %}

{% block fields %}
    <div class="row g-3">
        <div class="col-md-4">
            {% set type = "available" %}
            {{ block("item_block") }}
        </div>

        <div class="col-md-8">
            <div class="row row-cols-md-2 g-3">
                <div class="col">
                    {% set type = "rows" %}
                    {{ block("item_block") }}
                </div>

                <div class="col">
                    {% set type = "columns" %}
                    {{ block("item_block") }}
                </div>

                <div class="col">
                    {% set type = "values" %}
                    {{ block("item_block") }}
                </div>

                <div class="col">
                    {% set type = "filters" %}
                    {{ block("item_block") }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block item_block %}
    {% if type == 'available' %}
        {% set items = query.availableWithoutSubitems %}
        {% set icon = "fa-solid fa-list" %}
        {% set description = 'Available Fields'|trans %}
    {% elseif type == 'rows' %}
        {% set items = query.rowsWithoutSubitems %}
        {% set icon = "fa-solid fa-table-list" %}
        {% set description = 'Rows'|trans %}
    {% elseif type == 'columns' %}
        {% set items = query.columnsWithoutSubitems %}
        {% set icon = "fa-solid fa-table-columns" %}
        {% set description = 'Columns'|trans %}
    {% elseif type == 'values' %}
        {% set items = query.valuesWithoutSubitems %}
        {% set icon = "fa-solid fa-gauge" %}
        {% set description = 'Values'|trans %}
    {% elseif type == 'filters' %}
        {% set items = query.filtersWithoutSubitems %}
        {% set icon = "fa-solid fa-filter" %}
        {% set description = 'Filters'|trans %}
    {% endif %}

    <div class="card border-dark pb-1">
        <h4 class="card-header">
            <i class="{{ icon }}"></i>
            {{ description }}
        </h4>
        <ul data-type="{{ type }}"
            class="{{ type }} list-group list-group-flush"
            style="min-height: 70px">
            {% for item in items %}{{ block("item") }}{% endfor %}
        </ul>
    </div>
{% endblock %}

{% block item %}
    {% set item = query.resolve(item) %}

    {%- set color_class -%}
        {%- if item.type == 'dimension' -%}
            list-group-item-success
        {%- elseif item.type == 'measure' -%}
            list-group-item-info
        {%- elseif item.type == 'values' -%}
            list-group-item-warning
        {%- endif -%}
    {%- endset -%}

    <li data-type="{{ item.type }}"
        data-value="{{ item.key }}"
        class="list-group-item {{ color_class }} rounded-3 ms-1 me-1 mt-1 mb-0 py-1"
        style="cursor: grab">
        <div class="row align-items-center">
            <div class="col-auto me-auto">
                <span>{{ item.label|trans }}</span>
            </div>
            {% if item.choices %}
                {% set selected = query.resolve(item.key) %}
                <div class="col-auto ">
                    <select class="form-select form-select-sm py-0">
                        {% for key, choice in item.choices %}
                            <option value="{{ key }}" {{ selected == key ? 'selected' }}>{{ choice|trans }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
        </div>
    </li>
{% endblock item %}

{% block filters %}
    <turbo-frame id="__filters">
    {% for dimension, filterExpression in query.filterExpressions %}
        {% if constant('class', filterExpression) == 'Rekalogika\\Analytics\\Bundle\\UI\\Model\\EqualFilter' %}
            {{ block("equal_filter") }}
        {% elseif constant('class', filterExpression) == 'Rekalogika\\Analytics\\Bundle\\UI\\Model\\DateRangeFilter' %}
            {{ block("date_range_filter") }}
        {% else %}
            {{ block("unknown_filter") }}
        {% endif %}
    {% else %}
        <div class="alert alert-info" role="alert">{{ 'No filter selected'|trans }}</div>
    {% endfor %}
    </turbo-frame>
{% endblock filters %}

{% block filter_widget %}
    <div class="mb-3">
        <label for="{{ dimension }}-{{ id }}" class="form-label">{{ filterExpression.label|trans }}</label>
        {{ content }}
    </div>
{% endblock filter_widget %}

{% block equal_filter %}
    {% set content %}
        {% set choices = filterExpression.choices %}

        {% if choices|length > 0 %}
            <select class="filterelement"
                    placeholder="{{ 'Select items...'|trans }}"
                    multiple
                    data-controller="rekalogika--analytics-bundle--equal-filter"
                    data-dimension="{{ dimension }}"
                    data-action="rekalogika--analytics-bundle--equal-filter:change->rekalogika--analytics-bundle--pivot-table#filter">
                {% for choice in choices %}<option value="{{ choice.id }}">{{ choice|trans }}</option>{% endfor %}
            </select>
        {% else %}
            <input type="text"
                   readonly
                   disabled
                   class="form-control text-secondary"
                   value="{{ 'Unable to find choices to present.'|trans }}">
        {% endif %}
    {% endset %}

    {{ block("filter_widget") }}
{% endblock equal_filter %}

{% block date_range_filter %}
    {% set content %}
        <input type="text"
               placeholder="{{ 'Select date range...'|trans }}"
               aria-label="{{ 'Start'|trans }}"
               lang="{{ app.request.locale }}"
               class="form-control filterelement"
               data-controller="rekalogika--analytics-bundle--date-range-filter"
               data-dimension="{{ dimension }}"
               data-action="rekalogika--analytics-bundle--date-range-filter:change->rekalogika--analytics-bundle--pivot-table#filter">
    {% endset %}

    {{ block("filter_widget") }}
{% endblock date_range_filter %}

{% block unknown_filter %}
    {% set content %}
        <input type="text"
               readonly
               disabled
               class="form-control text-secondary"
               value="{{ 'This dimension does not support filtering.'|trans }}">
    {% endset %}

    {{ block("filter_widget") }}
{% endblock unknown_filter %}
