{%- block table -%}
    {%- if table.rows|length == 0 -%}
        {{ block("no_data") }}
    {%- else -%}
        <table {{ block("table_attr") }}>
            {%- for section in table -%}
                {%- if section.tag == 'thead' -%}
                    {{ block("header") }}
                {%- elseif section.tag == 'tbody' -%}
                    {{ block("body") }}
                {%- elseif section.tag == 'tfoot' -%}
                    {{ block("footer") }}
                {%- endif -%}
            {%- endfor -%}
        </table>
    {%- endif -%}
{%- endblock table -%}

{%- block header -%}
    <thead {{ block("thead_attr") }}>
        {%- for row in section -%}{{ block("row") }}{% endfor %}
    </thead>
{%- endblock header -%}

{%- block body -%}
    <tbody {{ block("tbody_attr") }}>
        {%- for row in section -%}{{ block("row") }}{% endfor %}
    </tbody>
{%- endblock body -%}

{%- block footer -%}
    <tfoot {{ block("tfoot_attr") }}>
        {%- for row in section -%}{{ block("row") }}{% endfor %}
    </tfoot>
{%- endblock footer -%}

{%- block row -%}
    <tr {{ block("tr_attr") }}>
        {%- for cell in row -%}{{ block("cell") }}{% endfor %}
    </tr>
{%- endblock row -%}

{%- block cell -%}
    {%- if cell.tag == 'th' -%}
        {{ block("header_cell") }}
    {%- elseif cell.tag == 'td' -%}
        {{ block("data_cell") }}
    {%- endif -%}
{%- endblock cell -%}

{%- block data_cell -%}
    <td {{ block("td_attr") }} colspan="{{ cell.columnSpan }}" rowspan="{{ cell.rowSpan }}">
        {%- set content = cell.content -%}
        {{ block("content") }}
    </td>
{%- endblock data_cell -%}

{%- block header_cell -%}
    <th {{ block("th_attr") }} colspan="{{ cell.columnSpan }}" rowspan="{{ cell.rowSpan }}">
        {%- set content = cell.content -%}
        {{ block("content") }}
    </th>
{%- endblock header_cell -%}

{%- block content -%}
    {{ content|analytics_to_html }}
{%- endblock content -%}

{%- block no_data -%}
    <p>No Data</p>
{%- endblock no_data -%}

{# tag attrs #}

{%- block table_attr -%}
    class="{{ block("table_class") }}"
{%- endblock table_attr -%}

{%- block thead_attr -%}
    class="{{ block("thead_class") }}"
{%- endblock thead_attr -%}

{%- block tbody_attr -%}
    class="{{ block("tbody_class") }}"
{%- endblock tbody_attr -%}

{%- block tfoot_attr -%}
    class="{{ block("tfoot_class") }}"
{%- endblock tfoot_attr -%}

{%- block tr_attr -%}
    class="{{ block("tr_class") }}"
{%- endblock tr_attr -%}

{%- block td_attr -%}
    class="{{ block("td_class") }}"
{%- endblock td_attr -%}

{%- block th_attr -%}
    class="{{ block("th_class") }}"
{%- endblock th_attr -%}

{# tag classes #}

{%- block table_class -%}
{%- endblock table_class -%}

{%- block thead_class -%}
{%- endblock thead_class -%}

{%- block tbody_class -%}
{%- endblock tbody_class -%}

{%- block tfoot_class -%}
{%- endblock tfoot_class -%}

{%- block tr_class -%}
{%- endblock tr_class -%}

{%- block td_class -%}
    analytics-dimension-{{ cell.key|replace({"@": "--", ".": "--"}) }}
    {% if cell.content.node.measure.key is defined -%}
        analytics-measure
        analytics-measure-{{ cell.content.node.measure.key }}
    {%- else -%}
        analytics-dimension
    {%- endif -%}
{%- endblock td_class -%}

{%- block th_class -%}
    analytics-dimension-{{ cell.key|replace({"@": "--", ".": "--"}) }}
    {% if cell.content.node.measure.key is defined -%}
        analytics-measure
        analytics-measure-{{ cell.content.node.measure.key }}
    {%- else -%}
        analytics-dimension
    {%- endif -%}
{%- endblock th_class -%}
