{% block table %}
    {% if table.rows|length == 0 %}
        {{ block("no_data") }}
    {% else %}
        <table {{ block("table_attr") }}>
            {% for section in table %}
                {% if section.tag == 'thead' %}
                    {{ block("header") }}
                {% elseif section.tag == 'tbody' %}
                    {{ block("body") }}
                {% elseif section.tag == 'tfoot' %}
                    {{ block("footer") }}
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}
{% endblock table %}

{% block section %}
    <{{ tag }} {{ attr }}>
    {% for row in section %}{{ block("row") }}{% endfor %}
    </{{ tag }}>
{% endblock section %}

{% block header %}
    {% set tag = "thead" %}
    {% set attr = block('header_attr') %}
    {{ block("section") }}
{% endblock header %}

{% block body %}
    {% set tag = "tbody" %}
    {% set attr = block('body_attr') %}
    {{ block("section") }}
{% endblock body %}

{% block footer %}
    {% set tag = "tfoot" %}
    {% set attr = block('footer_attr') %}
    {{ block("section") }}
{% endblock footer %}

{% block row %}
    <tr {{ block("row_attr") }}>
        {% for cell in row %}{{ block("cell") }}{% endfor %}
    </tr>
{% endblock row %}

{% block cell %}
    {% if cell.tag == 'th' %}
        {{ block("header_cell") }}
    {% elseif cell.tag == 'td' %}
        {{ block("data_cell") }}
    {% endif %}
{% endblock cell %}

{% block data_cell %}
    <td {{ block("data_cell_attr") }} colspan="{{ cell.columnSpan }}" rowspan="{{ cell.rowSpan }}">
        {% set content = cell.content %}
        {{ block("content") }}
    </td>
{% endblock data_cell %}

{% block header_cell %}
    <th {{ block("header_cell_attr") }} colspan="{{ cell.columnSpan }}" rowspan="{{ cell.rowSpan }}">
        {% set content = cell.content %}
        {{ block("content") }}
    </th>
{% endblock header_cell %}

{% block content %}
    {{ content.content|analytics_to_html }}
{% endblock content %}

{% block no_data %}
    <p>No Data</p>
{% endblock no_data %}

{% block table_attr %}
{% endblock table_attr %}

{% block header_attr %}
{% endblock header_attr %}

{% block body_attr %}
{% endblock body_attr %}

{% block footer_attr %}
{% endblock footer_attr %}

{% block row_attr %}
{% endblock row_attr %}

{% block data_cell_attr %}
{% endblock data_cell_attr %}

{% block header_cell_attr %}
{% endblock header_cell_attr %}
